@font-face {
  font-family: 'ab-fonts';
  src:  url('fonts/ab-fonts.eot?ijdmz0');
  src:  url('fonts/ab-fonts.eot?ijdmz0#iefix') format('embedded-opentype'),
    url('fonts/ab-fonts.ttf?ijdmz0') format('truetype'),
    url('fonts/ab-fonts.woff?ijdmz0') format('woff'),
    url('fonts/ab-fonts.svg?ijdmz0#ab-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ab-font {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ab-fonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ab-icon-law-1:before {
  content: "\c327";
}
.ab-icon-law:before {
  content: "\c326";
}
.ab-icon-image-box:before {
  content: "\c325";
}
.ab-icon-fire:before {
  content: "\c324";
}
.ab-icon-icon-box:before {
  content: "\c323";
}
.ab-icon-editor:before {
  content: "\c322";
}
.ab-icon-column:before {
  content: "\c321";
}
.ab-icon-grid-6:before {
  content: "\c320";
}
.ab-icon-button:before {
  content: "\c319";
}
.ab-icon-quote-3:before {
  content: "\c318";
}
.ab-icon-layer:before {
  content: "\c317";
}
.ab-icon-carousel:before {
  content: "\c316";
}
.ab-icon-banner:before {
  content: "\c315";
}
.ab-icon-heading:before {
  content: "\c314";
}
.ab-icon-click:before {
  content: "\c313";
}
.ab-icon-cookie:before {
  content: "\c312";
}
.ab-icon-tab:before {
  content: "\c311";
}
.ab-icon-slider:before {
  content: "\c310";
}
.ab-icon-recent-blog .path1:before {
  content: "\c300";
  color: rgb(0, 0, 0);
}
.ab-icon-recent-blog .path2:before {
  content: "\c301";
  margin-left: -1.25em;
  color: rgb(0, 0, 0);
}
.ab-icon-recent-blog .path3:before {
  content: "\c302";
  margin-left: -1.25em;
  color: rgb(0, 0, 0);
}
.ab-icon-recent-blog .path4:before {
  content: "\c303";
  margin-left: -1.25em;
  color: rgb(0, 0, 0);
}
.ab-icon-recent-blog .path5:before {
  content: "\c304";
  margin-left: -1.25em;
  color: rgb(0, 0, 0);
}
.ab-icon-recent-blog .path6:before {
  content: "\c305";
  margin-left: -1.25em;
  color: rgb(255, 255, 255);
}
.ab-icon-recent-blog .path7:before {
  content: "\c306";
  margin-left: -1.25em;
  color: rgb(0, 0, 0);
}
.ab-icon-blog:before {
  content: "\c299";
}
.ab-icon-wallet-1:before {
  content: "\c298";
}
.ab-icon-handshake:before {
  content: "\c297";
}
.ab-icon-undo-1:before {
  content: "\c296";
}
.ab-icon-plane-3:before {
  content: "\c295";
}
.ab-icon-plane-2:before {
  content: "\c294";
}
.ab-icon-clock-4:before {
  content: "\c293";
}
.ab-icon-play-4:before {
  content: "\c292";
}
.ab-icon-play-3:before {
  content: "\c291";
}
.ab-icon-face-1:before {
  content: "\c290";
}
.ab-icon-comment-1:before {
  content: "\c289";
}
.ab-icon-comment-2:before {
  content: "\c288";
}
.ab-icon-comment-3:before {
  content: "\c287";
}
.ab-icon-comment-4:before {
  content: "\c286";
}
.ab-icon-360-2:before {
  content: "\c284";
}
.ab-icon-360-1:before {
  content: "\c283";
}
.ab-icon-heart-6:before {
  content: "\c282";
}
.ab-icon-heart-5:before {
  content: "\c281";
}
.ab-icon-filter-3:before {
  content: "\c285";
}
.ab-icon-refresh-5:before {
  content: "\c280";
}
.ab-icon-heart-4:before {
  content: "\c279";
}
.ab-icon-heart-3:before {
  content: "\c278";
}
.ab-icon-ruler:before {
  content: "\c277";
}
.ab-icon-help:before {
  content: "\c276";
}
.ab-icon-hand-up:before {
  content: "\c275";
}
.ab-icon-hand-down:before {
  content: "\c274";
}
.ab-icon-arrow-up:before {
  content: "\c273";
}
.ab-icon-arrow-down:before {
  content: "\c272";
}
.ab-icon-arrow-left-4:before {
  content: "\c271";
}
.ab-icon-arrow-right-4:before {
  content: "\c270";
}
.ab-icon-refresh-4:before {
  content: "\c269";
}
.ab-icon-refresh-3:before {
  content: "\c268";
}
.ab-icon-quote-2:before {
  content: "\c267";
}
.ab-icon-pause:before {
  content: "\c266";
}
.ab-icon-check:before {
  content: "\c265";
}
.ab-icon-caret-down:before {
  content: "\c264";
}
.ab-icon-caret-left:before {
  content: "\c263";
}
.ab-icon-caret-right:before {
  content: "\c262";
}
.ab-icon-caret-up:before {
  content: "\c261";
}
.ab-icon-caret-square-dow:before {
  content: "\c260";
}
.ab-icon-caret-square-left:before {
  content: "\c259";
}
.ab-icon-caret-square-right:before {
  content: "\c258";
}
.ab-icon-caret-square-up:before {
  content: "\c257";
}
.ab-icon-check-circle-o:before {
  content: "\c256";
}
.ab-icon-check-circle:before {
  content: "\c255";
}
.ab-icon-check-square-o:before {
  content: "\c254";
}
.ab-icon-check-square:before {
  content: "\c253";
}
.ab-icon-circle-o:before {
  content: "\c252";
}
.ab-icon-circle:before {
  content: "\c251";
}
.ab-icon-dribbble:before {
  content: "\c250";
}
.ab-icon-flickr:before {
  content: "\c249";
}
.ab-icon-foursquare:before {
  content: "\c248";
}
.ab-icon-github:before {
  content: "\c247";
}
.ab-icon-linkedin:before {
  content: "\c246";
}
.ab-icon-rss:before {
  content: "\c245";
}
.ab-icon-square-o:before {
  content: "\c244";
}
.ab-icon-square:before {
  content: "\c243";
}
.ab-icon-star-o:before {
  content: "\c242";
}
.ab-icon-star:before {
  content: "\c241";
}
.ab-icon-tumblr:before {
  content: "\c240";
}
.ab-icon-xing:before {
  content: "\c239";
}
.ab-icon-twitter:before {
  content: "\c238";
}
.ab-icon-cart-16:before {
  content: "\c237";
}
.ab-icon-heart-2:before {
  content: "\c236";
}
.ab-icon-eye-5:before {
  content: "\c235";
}
.ab-icon-facebook:before {
  content: "\c234";
}
.ab-icon-googleplus:before {
  content: "\c233";
}
.ab-icon-instagram:before {
  content: "\c232";
}
.ab-icon-pinterest:before {
  content: "\c231";
}
.ab-icon-skype:before {
  content: "\c230";
}
.ab-icon-vimeo:before {
  content: "\c229";
}
.ab-icon-youtube-1:before {
  content: "\c228";
}
.ab-icon-award-1:before {
  content: "\c227";
}
.ab-icon-clock-3:before {
  content: "\c226";
}
.ab-icon-three-dots:before {
  content: "\c225";
}
.ab-icon-share-2:before {
  content: "\c224";
}
.ab-icon-building:before {
  content: "\c223";
}
.ab-icon-faucet:before {
  content: "\c222";
}
.ab-icon-flower:before {
  content: "\c221";
}
.ab-icon-house-1:before {
  content: "\c220";
}
.ab-icon-house:before {
  content: "\c219";
}
.ab-icon-pines:before {
  content: "\c218";
}
.ab-icon-plant:before {
  content: "\c217";
}
.ab-icon-sprout-1:before {
  content: "\c216";
}
.ab-icon-sprout:before {
  content: "\c215";
}
.ab-icon-trees:before {
  content: "\c214";
}
.ab-icon-close-1:before {
  content: "\c213";
}
.ab-icon-list-2:before {
  content: "\c212";
}
.ab-icon-grid-5:before {
  content: "\c211";
}
.ab-icon-menu-6:before {
  content: "\c210";
}
.ab-icon-three-dots-o:before {
  content: "\c209";
}
.ab-icon-list-1:before {
  content: "\c208";
}
.ab-icon-menu-5:before {
  content: "\c207";
}
.ab-icon-menu-4:before {
  content: "\c206";
}
.ab-icon-heart-1:before {
  content: "\c205";
}
.ab-icon-user-6:before {
  content: "\c204";
}
.ab-icon-attachment:before {
  content: "\c203";
}
.ab-icon-cart-18:before {
  content: "\c202";
}
.ab-icon-ball:before {
  content: "\c201";
}
.ab-icon-battery:before {
  content: "\c200";
}
.ab-icon-briefcase:before {
  content: "\c199";
}
.ab-icon-car:before {
  content: "\c198";
}
.ab-icon-cpu-2:before {
  content: "\c197";
}
.ab-icon-cpu-1:before {
  content: "\c196";
}
.ab-icon-dress-woman:before {
  content: "\c195";
}
.ab-icon-drill-tool:before {
  content: "\c194";
}
.ab-icon-feeding-bottle:before {
  content: "\c193";
}
.ab-icon-fruit:before {
  content: "\c192";
}
.ab-icon-furniture-2:before {
  content: "\c191";
}
.ab-icon-furniture-1:before {
  content: "\c190";
}
.ab-icon-shoes-woman-2:before {
  content: "\c189";
}
.ab-icon-shoes-woman-1:before {
  content: "\c188";
}
.ab-icon-horse:before {
  content: "\c187";
}
.ab-icon-laptop:before {
  content: "\c186";
}
.ab-icon-lipstick:before {
  content: "\c185";
}
.ab-icon-iron:before {
  content: "\c184";
}
.ab-icon-perfume:before {
  content: "\c183";
}
.ab-icon-baby-toy-2:before {
  content: "\c182";
}
.ab-icon-baby-toy-1:before {
  content: "\c181";
}
.ab-icon-paint-roller:before {
  content: "\c180";
}
.ab-icon-shirt:before {
  content: "\c179";
}
.ab-icon-shoe-man-2:before {
  content: "\c178";
}
.ab-icon-small-diamond:before {
  content: "\c177";
}
.ab-icon-tivi:before {
  content: "\c176";
}
.ab-icon-smartphone:before {
  content: "\c175";
}
.ab-icon-lights:before {
  content: "\c174";
}
.ab-icon-microwave:before {
  content: "\c173";
}
.ab-icon-wardrobe:before {
  content: "\c172";
}
.ab-icon-washing-machine:before {
  content: "\c171";
}
.ab-icon-watch-2:before {
  content: "\c170";
}
.ab-icon-watch-1:before {
  content: "\c169";
}
.ab-icon-slider-3:before {
  content: "\c168";
}
.ab-icon-slider-2:before {
  content: "\c167";
}
.ab-icon-slider-1:before {
  content: "\c166";
}
.ab-icon-cart-15:before {
  content: "\c165";
}
.ab-icon-cart-14:before {
  content: "\c164";
}
.ab-icon-cart-13:before {
  content: "\c163";
}
.ab-icon-cart-12:before {
  content: "\c162";
}
.ab-icon-cart-11:before {
  content: "\c161";
}
.ab-icon-cart-10:before {
  content: "\c160";
}
.ab-icon-cart-9:before {
  content: "\c159";
}
.ab-icon-cart-8:before {
  content: "\c158";
}
.ab-icon-pause-1:before {
  content: "\c157";
}
.ab-icon-arrow-left:before {
  content: "\c156";
}
.ab-icon-arrow-left-1:before {
  content: "\c155";
}
.ab-icon-arrow-left-2:before {
  content: "\c154";
}
.ab-icon-arrow-left-3:before {
  content: "\c153";
}
.ab-icon-arrow-right:before {
  content: "\c152";
}
.ab-icon-arrow-right-1:before {
  content: "\c151";
}
.ab-icon-arrow-right-2:before {
  content: "\c150";
}
.ab-icon-arrow-right-3:before {
  content: "\c149";
}
.ab-icon-plane-1:before {
  content: "\c148";
}
.ab-icon-cart-17:before {
  content: "\c147";
}
.ab-icon-filter-2:before {
  content: "\c146";
}
.ab-icon-filter-1:before {
  content: "\c145";
}
.ab-icon-grid-1:before {
  content: "\c144";
}
.ab-icon-contract:before {
  content: "\c143";
}
.ab-icon-expand:before {
  content: "\c142";
}
.ab-icon-cart-7:before {
  content: "\c141";
}
.ab-icon-quote-1:before {
  content: "\c140";
}
.ab-icon-arrow-right-5:before {
  content: "\c139";
}
.ab-icon-arrow-left-5:before {
  content: "\c138";
}
.ab-icon-refresh-2:before {
  content: "\c137";
}
.ab-icon-truck:before {
  content: "\c136";
}
.ab-icon-wallet:before {
  content: "\c135";
}
.ab-icon-electric-1:before {
  content: "\c134";
}
.ab-icon-electric-2:before {
  content: "\c133";
}
.ab-icon-lock:before {
  content: "\c132";
}
.ab-icon-share-1:before {
  content: "\c131";
}
.ab-icon-check-box:before {
  content: "\c130";
}
.ab-icon-clock-2:before {
  content: "\c129";
}
.ab-icon-analytics-laptop:before {
  content: "\c128";
}
.ab-icon-code-design:before {
  content: "\c127";
}
.ab-icon-competitive-chart:before {
  content: "\c126";
}
.ab-icon-computer-monitor-and-cellphone:before {
  content: "\c125";
}
.ab-icon-consulting-message:before {
  content: "\c124";
}
.ab-icon-creative-process:before {
  content: "\c123";
}
.ab-icon-customer-reviews:before {
  content: "\c122";
}
.ab-icon-data-visualization:before {
  content: "\c121";
}
.ab-icon-document:before {
  content: "\c120";
}
.ab-icon-download-2:before {
  content: "\c119";
}
.ab-icon-download-1:before {
  content: "\c118";
}
.ab-icon-mail-6:before {
  content: "\c117";
}
.ab-icon-file-sharing:before {
  content: "\c116";
}
.ab-icon-finger-touch-screen:before {
  content: "\c115";
}
.ab-icon-horizontal-tablet-with-pencil:before {
  content: "\c114";
}
.ab-icon-illustration-tool:before {
  content: "\c113";
}
.ab-icon-keyboard-and-hands:before {
  content: "\c112";
}
.ab-icon-landscape-image:before {
  content: "\c111";
}
.ab-icon-layout-squares:before {
  content: "\c110";
}
.ab-icon-mobile-app-developing:before {
  content: "\c109";
}
.ab-icon-online-purchase:before {
  content: "\c108";
}
.ab-icon-online-shopping:before {
  content: "\c107";
}
.ab-icon-online-video:before {
  content: "\c106";
}
.ab-icon-clock-1:before {
  content: "\c105";
}
.ab-icon-padlock-key:before {
  content: "\c104";
}
.ab-icon-pc-monitor:before {
  content: "\c103";
}
.ab-icon-place-localizer:before {
  content: "\c102";
}
.ab-icon-search-results:before {
  content: "\c101";
}
.ab-icon-search-tool:before {
  content: "\c100";
}
.ab-icon-settings-tools:before {
  content: "\c099";
}
.ab-icon-sharing-symbol:before {
  content: "\c098";
}
.ab-icon-site-map:before {
  content: "\c097";
}
.ab-icon-smartphone-2:before {
  content: "\c096";
}
.ab-icon-tablet-2:before {
  content: "\c095";
}
.ab-icon-thin-expand-arrows:before {
  content: "\c094";
}
.ab-icon-upload-2:before {
  content: "\c093";
}
.ab-icon-upload-1:before {
  content: "\c092";
}
.ab-icon-volume-off:before {
  content: "\c091";
}
.ab-icon-volume-on:before {
  content: "\c090";
}
.ab-icon-news-list:before {
  content: "\c089";
}
.ab-icon-desktop:before {
  content: "\c088";
}
.ab-icon-news-grid:before {
  content: "\c087";
}
.ab-icon-setting:before {
  content: "\c086";
}
.ab-icon-web-home:before {
  content: "\c085";
}
.ab-icon-web-link:before {
  content: "\c084";
}
.ab-icon-web-links:before {
  content: "\c083";
}
.ab-icon-website-protection:before {
  content: "\c082";
}
.ab-icon-team:before {
  content: "\c081";
}
.ab-icon-zoom-in:before {
  content: "\c080";
}
.ab-icon-zoom-out:before {
  content: "\c079";
}
.ab-icon-arrow-1:before {
  content: "\c078";
}
.ab-icon-arrow-bold:before {
  content: "\c077";
}
.ab-icon-arrow-light:before {
  content: "\c076";
}
.ab-icon-arrow-regular:before {
  content: "\c075";
}
.ab-icon-cart-1:before {
  content: "\c074";
}
.ab-icon-cart-2:before {
  content: "\c073";
}
.ab-icon-cart-3:before {
  content: "\c072";
}
.ab-icon-cart-4:before {
  content: "\c071";
}
.ab-icon-cart-5:before {
  content: "\c070";
}
.ab-icon-cart-6:before {
  content: "\c069";
}
.ab-icon-chart:before {
  content: "\c068";
}
.ab-icon-close:before {
  content: "\c067";
}
.ab-icon-compare-1:before {
  content: "\c066";
}
.ab-icon-compare-2:before {
  content: "\c065";
}
.ab-icon-compare-3:before {
  content: "\c064";
}
.ab-icon-compare-4:before {
  content: "\c063";
}
.ab-icon-compare-5:before {
  content: "\c062";
}
.ab-icon-compare-6:before {
  content: "\c061";
}
.ab-icon-compare-7:before {
  content: "\c060";
}
.ab-icon-down:before {
  content: "\c059";
}
.ab-icon-grid:before {
  content: "\c058";
}
.ab-icon-hand:before {
  content: "\c057";
}
.ab-icon-layout-1:before {
  content: "\c056";
}
.ab-icon-layout:before {
  content: "\c055";
}
.ab-icon-light:before {
  content: "\c054";
}
.ab-icon-play-1:before {
  content: "\c053";
}
.ab-icon-list:before {
  content: "\c052";
}
.ab-icon-mail-1:before {
  content: "\c051";
}
.ab-icon-mail-2:before {
  content: "\c050";
}
.ab-icon-mail-3:before {
  content: "\c049";
}
.ab-icon-mail-4:before {
  content: "\c048";
}
.ab-icon-mail-5:before {
  content: "\c047";
}
.ab-icon-map-1:before {
  content: "\c046";
}
.ab-icon-map-2:before {
  content: "\c045";
}
.ab-icon-map-3:before {
  content: "\c044";
}
.ab-icon-map-4:before {
  content: "\c043";
}
.ab-icon-map-5:before {
  content: "\c042";
}
.ab-icon-menu-1:before {
  content: "\c041";
}
.ab-icon-menu-2:before {
  content: "\c040";
}
.ab-icon-grid-3:before {
  content: "\c039";
}
.ab-icon-grid-4:before {
  content: "\c038";
}
.ab-icon-menu-3:before {
  content: "\c037";
}
.ab-icon-grid-2:before {
  content: "\c036";
}
.ab-icon-minus:before {
  content: "\c035";
}
.ab-icon-next:before {
  content: "\c034";
}
.ab-icon-phone-1:before {
  content: "\c033";
}
.ab-icon-phone-2:before {
  content: "\c032";
}
.ab-icon-phone-3:before {
  content: "\c031";
}
.ab-icon-phone-4:before {
  content: "\c030";
}
.ab-icon-phone-5:before {
  content: "\c029";
}
.ab-icon-phone-6:before {
  content: "\c028";
}
.ab-icon-picture:before {
  content: "\c027";
}
.ab-icon-pin:before {
  content: "\c026";
}
.ab-icon-plus:before {
  content: "\c025";
}
.ab-icon-prev:before {
  content: "\c024";
}
.ab-icon-eye-4:before {
  content: "\c023";
}
.ab-icon-eye-3:before {
  content: "\c022";
}
.ab-icon-eye-2:before {
  content: "\c021";
}
.ab-icon-eye-1:before {
  content: "\c020";
}
.ab-icon-refresh-1:before {
  content: "\c019";
}
.ab-icon-youtube-2:before {
  content: "\c018";
}
.ab-icon-search-1:before {
  content: "\c017";
}
.ab-icon-search-2:before {
  content: "\c016";
}
.ab-icon-search-3:before {
  content: "\c015";
}
.ab-icon-search-4:before {
  content: "\c014";
}
.ab-icon-search-5:before {
  content: "\c013";
}
.ab-icon-support:before {
  content: "\c012";
}
.ab-icon-tablet-1:before {
  content: "\c011";
}
.ab-icon-play-2:before {
  content: "\c010";
}
.ab-icon-up:before {
  content: "\c009";
}
.ab-icon-user-1:before {
  content: "\c008";
}
.ab-icon-user-2:before {
  content: "\c007";
}
.ab-icon-user-3:before {
  content: "\c006";
}
.ab-icon-user-4:before {
  content: "\c005";
}
.ab-icon-user-5:before {
  content: "\c004";
}
.ab-icon-user:before {
  content: "\c003";
}
.ab-icon-vector1:before {
  content: "\c002";
}
.ab-icon-wishlist1:before {
  content: "\c001";
}
