@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ijdmz0');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ijdmz0#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ijdmz0') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ijdmz0') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ijdmz0##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ab-font {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ab-icon-law-1 {
  &:before {
    content: $ab-icon-law-1; 
  }
}
.ab-icon-law {
  &:before {
    content: $ab-icon-law; 
  }
}
.ab-icon-image-box {
  &:before {
    content: $ab-icon-image-box; 
  }
}
.ab-icon-fire {
  &:before {
    content: $ab-icon-fire; 
  }
}
.ab-icon-icon-box {
  &:before {
    content: $ab-icon-icon-box; 
  }
}
.ab-icon-editor {
  &:before {
    content: $ab-icon-editor; 
  }
}
.ab-icon-column {
  &:before {
    content: $ab-icon-column; 
  }
}
.ab-icon-grid-6 {
  &:before {
    content: $ab-icon-grid-6; 
  }
}
.ab-icon-button {
  &:before {
    content: $ab-icon-button; 
  }
}
.ab-icon-quote-3 {
  &:before {
    content: $ab-icon-quote-3; 
  }
}
.ab-icon-layer {
  &:before {
    content: $ab-icon-layer; 
  }
}
.ab-icon-carousel {
  &:before {
    content: $ab-icon-carousel; 
  }
}
.ab-icon-banner {
  &:before {
    content: $ab-icon-banner; 
  }
}
.ab-icon-heading {
  &:before {
    content: $ab-icon-heading; 
  }
}
.ab-icon-click {
  &:before {
    content: $ab-icon-click; 
  }
}
.ab-icon-cookie {
  &:before {
    content: $ab-icon-cookie; 
  }
}
.ab-icon-tab {
  &:before {
    content: $ab-icon-tab; 
  }
}
.ab-icon-slider {
  &:before {
    content: $ab-icon-slider; 
  }
}
.ab-icon-recent-blog .path1 {
  &:before {
    content: $ab-icon-recent-blog-path1;  
    color: rgb(0, 0, 0);
  }
}
.ab-icon-recent-blog .path2 {
  &:before {
    content: $ab-icon-recent-blog-path2;  
    margin-left: -1.25em;  
    color: rgb(0, 0, 0);
  }
}
.ab-icon-recent-blog .path3 {
  &:before {
    content: $ab-icon-recent-blog-path3;  
    margin-left: -1.25em;  
    color: rgb(0, 0, 0);
  }
}
.ab-icon-recent-blog .path4 {
  &:before {
    content: $ab-icon-recent-blog-path4;  
    margin-left: -1.25em;  
    color: rgb(0, 0, 0);
  }
}
.ab-icon-recent-blog .path5 {
  &:before {
    content: $ab-icon-recent-blog-path5;  
    margin-left: -1.25em;  
    color: rgb(0, 0, 0);
  }
}
.ab-icon-recent-blog .path6 {
  &:before {
    content: $ab-icon-recent-blog-path6;  
    margin-left: -1.25em;  
    color: rgb(255, 255, 255);
  }
}
.ab-icon-recent-blog .path7 {
  &:before {
    content: $ab-icon-recent-blog-path7;  
    margin-left: -1.25em;  
    color: rgb(0, 0, 0);
  }
}
.ab-icon-blog {
  &:before {
    content: $ab-icon-blog; 
  }
}
.ab-icon-wallet-1 {
  &:before {
    content: $ab-icon-wallet-1; 
  }
}
.ab-icon-handshake {
  &:before {
    content: $ab-icon-handshake; 
  }
}
.ab-icon-undo-1 {
  &:before {
    content: $ab-icon-undo-1; 
  }
}
.ab-icon-plane-3 {
  &:before {
    content: $ab-icon-plane-3; 
  }
}
.ab-icon-plane-2 {
  &:before {
    content: $ab-icon-plane-2; 
  }
}
.ab-icon-clock-4 {
  &:before {
    content: $ab-icon-clock-4; 
  }
}
.ab-icon-play-4 {
  &:before {
    content: $ab-icon-play-4; 
  }
}
.ab-icon-play-3 {
  &:before {
    content: $ab-icon-play-3; 
  }
}
.ab-icon-face-1 {
  &:before {
    content: $ab-icon-face-1; 
  }
}
.ab-icon-comment-1 {
  &:before {
    content: $ab-icon-comment-1; 
  }
}
.ab-icon-comment-2 {
  &:before {
    content: $ab-icon-comment-2; 
  }
}
.ab-icon-comment-3 {
  &:before {
    content: $ab-icon-comment-3; 
  }
}
.ab-icon-comment-4 {
  &:before {
    content: $ab-icon-comment-4; 
  }
}
.ab-icon-360-2 {
  &:before {
    content: $ab-icon-360-2; 
  }
}
.ab-icon-360-1 {
  &:before {
    content: $ab-icon-360-1; 
  }
}
.ab-icon-heart-6 {
  &:before {
    content: $ab-icon-heart-6; 
  }
}
.ab-icon-heart-5 {
  &:before {
    content: $ab-icon-heart-5; 
  }
}
.ab-icon-filter-3 {
  &:before {
    content: $ab-icon-filter-3; 
  }
}
.ab-icon-refresh-5 {
  &:before {
    content: $ab-icon-refresh-5; 
  }
}
.ab-icon-heart-4 {
  &:before {
    content: $ab-icon-heart-4; 
  }
}
.ab-icon-heart-3 {
  &:before {
    content: $ab-icon-heart-3; 
  }
}
.ab-icon-ruler {
  &:before {
    content: $ab-icon-ruler; 
  }
}
.ab-icon-help {
  &:before {
    content: $ab-icon-help; 
  }
}
.ab-icon-hand-up {
  &:before {
    content: $ab-icon-hand-up; 
  }
}
.ab-icon-hand-down {
  &:before {
    content: $ab-icon-hand-down; 
  }
}
.ab-icon-arrow-up {
  &:before {
    content: $ab-icon-arrow-up; 
  }
}
.ab-icon-arrow-down {
  &:before {
    content: $ab-icon-arrow-down; 
  }
}
.ab-icon-arrow-left-4 {
  &:before {
    content: $ab-icon-arrow-left-4; 
  }
}
.ab-icon-arrow-right-4 {
  &:before {
    content: $ab-icon-arrow-right-4; 
  }
}
.ab-icon-refresh-4 {
  &:before {
    content: $ab-icon-refresh-4; 
  }
}
.ab-icon-refresh-3 {
  &:before {
    content: $ab-icon-refresh-3; 
  }
}
.ab-icon-quote-2 {
  &:before {
    content: $ab-icon-quote-2; 
  }
}
.ab-icon-pause {
  &:before {
    content: $ab-icon-pause; 
  }
}
.ab-icon-check {
  &:before {
    content: $ab-icon-check; 
  }
}
.ab-icon-caret-down {
  &:before {
    content: $ab-icon-caret-down; 
  }
}
.ab-icon-caret-left {
  &:before {
    content: $ab-icon-caret-left; 
  }
}
.ab-icon-caret-right {
  &:before {
    content: $ab-icon-caret-right; 
  }
}
.ab-icon-caret-up {
  &:before {
    content: $ab-icon-caret-up; 
  }
}
.ab-icon-caret-square-dow {
  &:before {
    content: $ab-icon-caret-square-dow; 
  }
}
.ab-icon-caret-square-left {
  &:before {
    content: $ab-icon-caret-square-left; 
  }
}
.ab-icon-caret-square-right {
  &:before {
    content: $ab-icon-caret-square-right; 
  }
}
.ab-icon-caret-square-up {
  &:before {
    content: $ab-icon-caret-square-up; 
  }
}
.ab-icon-check-circle-o {
  &:before {
    content: $ab-icon-check-circle-o; 
  }
}
.ab-icon-check-circle {
  &:before {
    content: $ab-icon-check-circle; 
  }
}
.ab-icon-check-square-o {
  &:before {
    content: $ab-icon-check-square-o; 
  }
}
.ab-icon-check-square {
  &:before {
    content: $ab-icon-check-square; 
  }
}
.ab-icon-circle-o {
  &:before {
    content: $ab-icon-circle-o; 
  }
}
.ab-icon-circle {
  &:before {
    content: $ab-icon-circle; 
  }
}
.ab-icon-dribbble {
  &:before {
    content: $ab-icon-dribbble; 
  }
}
.ab-icon-flickr {
  &:before {
    content: $ab-icon-flickr; 
  }
}
.ab-icon-foursquare {
  &:before {
    content: $ab-icon-foursquare; 
  }
}
.ab-icon-github {
  &:before {
    content: $ab-icon-github; 
  }
}
.ab-icon-linkedin {
  &:before {
    content: $ab-icon-linkedin; 
  }
}
.ab-icon-rss {
  &:before {
    content: $ab-icon-rss; 
  }
}
.ab-icon-square-o {
  &:before {
    content: $ab-icon-square-o; 
  }
}
.ab-icon-square {
  &:before {
    content: $ab-icon-square; 
  }
}
.ab-icon-star-o {
  &:before {
    content: $ab-icon-star-o; 
  }
}
.ab-icon-star {
  &:before {
    content: $ab-icon-star; 
  }
}
.ab-icon-tumblr {
  &:before {
    content: $ab-icon-tumblr; 
  }
}
.ab-icon-xing {
  &:before {
    content: $ab-icon-xing; 
  }
}
.ab-icon-twitter {
  &:before {
    content: $ab-icon-twitter; 
  }
}
.ab-icon-cart-16 {
  &:before {
    content: $ab-icon-cart-16; 
  }
}
.ab-icon-heart-2 {
  &:before {
    content: $ab-icon-heart-2; 
  }
}
.ab-icon-eye-5 {
  &:before {
    content: $ab-icon-eye-5; 
  }
}
.ab-icon-facebook {
  &:before {
    content: $ab-icon-facebook; 
  }
}
.ab-icon-googleplus {
  &:before {
    content: $ab-icon-googleplus; 
  }
}
.ab-icon-instagram {
  &:before {
    content: $ab-icon-instagram; 
  }
}
.ab-icon-pinterest {
  &:before {
    content: $ab-icon-pinterest; 
  }
}
.ab-icon-skype {
  &:before {
    content: $ab-icon-skype; 
  }
}
.ab-icon-vimeo {
  &:before {
    content: $ab-icon-vimeo; 
  }
}
.ab-icon-youtube-1 {
  &:before {
    content: $ab-icon-youtube-1; 
  }
}
.ab-icon-award-1 {
  &:before {
    content: $ab-icon-award-1; 
  }
}
.ab-icon-clock-3 {
  &:before {
    content: $ab-icon-clock-3; 
  }
}
.ab-icon-three-dots {
  &:before {
    content: $ab-icon-three-dots; 
  }
}
.ab-icon-share-2 {
  &:before {
    content: $ab-icon-share-2; 
  }
}
.ab-icon-building {
  &:before {
    content: $ab-icon-building; 
  }
}
.ab-icon-faucet {
  &:before {
    content: $ab-icon-faucet; 
  }
}
.ab-icon-flower {
  &:before {
    content: $ab-icon-flower; 
  }
}
.ab-icon-house-1 {
  &:before {
    content: $ab-icon-house-1; 
  }
}
.ab-icon-house {
  &:before {
    content: $ab-icon-house; 
  }
}
.ab-icon-pines {
  &:before {
    content: $ab-icon-pines; 
  }
}
.ab-icon-plant {
  &:before {
    content: $ab-icon-plant; 
  }
}
.ab-icon-sprout-1 {
  &:before {
    content: $ab-icon-sprout-1; 
  }
}
.ab-icon-sprout {
  &:before {
    content: $ab-icon-sprout; 
  }
}
.ab-icon-trees {
  &:before {
    content: $ab-icon-trees; 
  }
}
.ab-icon-close-1 {
  &:before {
    content: $ab-icon-close-1; 
  }
}
.ab-icon-list-2 {
  &:before {
    content: $ab-icon-list-2; 
  }
}
.ab-icon-grid-5 {
  &:before {
    content: $ab-icon-grid-5; 
  }
}
.ab-icon-menu-6 {
  &:before {
    content: $ab-icon-menu-6; 
  }
}
.ab-icon-three-dots-o {
  &:before {
    content: $ab-icon-three-dots-o; 
  }
}
.ab-icon-list-1 {
  &:before {
    content: $ab-icon-list-1; 
  }
}
.ab-icon-menu-5 {
  &:before {
    content: $ab-icon-menu-5; 
  }
}
.ab-icon-menu-4 {
  &:before {
    content: $ab-icon-menu-4; 
  }
}
.ab-icon-heart-1 {
  &:before {
    content: $ab-icon-heart-1; 
  }
}
.ab-icon-user-6 {
  &:before {
    content: $ab-icon-user-6; 
  }
}
.ab-icon-attachment {
  &:before {
    content: $ab-icon-attachment; 
  }
}
.ab-icon-cart-18 {
  &:before {
    content: $ab-icon-cart-18; 
  }
}
.ab-icon-ball {
  &:before {
    content: $ab-icon-ball; 
  }
}
.ab-icon-battery {
  &:before {
    content: $ab-icon-battery; 
  }
}
.ab-icon-briefcase {
  &:before {
    content: $ab-icon-briefcase; 
  }
}
.ab-icon-car {
  &:before {
    content: $ab-icon-car; 
  }
}
.ab-icon-cpu-2 {
  &:before {
    content: $ab-icon-cpu-2; 
  }
}
.ab-icon-cpu-1 {
  &:before {
    content: $ab-icon-cpu-1; 
  }
}
.ab-icon-dress-woman {
  &:before {
    content: $ab-icon-dress-woman; 
  }
}
.ab-icon-drill-tool {
  &:before {
    content: $ab-icon-drill-tool; 
  }
}
.ab-icon-feeding-bottle {
  &:before {
    content: $ab-icon-feeding-bottle; 
  }
}
.ab-icon-fruit {
  &:before {
    content: $ab-icon-fruit; 
  }
}
.ab-icon-furniture-2 {
  &:before {
    content: $ab-icon-furniture-2; 
  }
}
.ab-icon-furniture-1 {
  &:before {
    content: $ab-icon-furniture-1; 
  }
}
.ab-icon-shoes-woman-2 {
  &:before {
    content: $ab-icon-shoes-woman-2; 
  }
}
.ab-icon-shoes-woman-1 {
  &:before {
    content: $ab-icon-shoes-woman-1; 
  }
}
.ab-icon-horse {
  &:before {
    content: $ab-icon-horse; 
  }
}
.ab-icon-laptop {
  &:before {
    content: $ab-icon-laptop; 
  }
}
.ab-icon-lipstick {
  &:before {
    content: $ab-icon-lipstick; 
  }
}
.ab-icon-iron {
  &:before {
    content: $ab-icon-iron; 
  }
}
.ab-icon-perfume {
  &:before {
    content: $ab-icon-perfume; 
  }
}
.ab-icon-baby-toy-2 {
  &:before {
    content: $ab-icon-baby-toy-2; 
  }
}
.ab-icon-baby-toy-1 {
  &:before {
    content: $ab-icon-baby-toy-1; 
  }
}
.ab-icon-paint-roller {
  &:before {
    content: $ab-icon-paint-roller; 
  }
}
.ab-icon-shirt {
  &:before {
    content: $ab-icon-shirt; 
  }
}
.ab-icon-shoe-man-2 {
  &:before {
    content: $ab-icon-shoe-man-2; 
  }
}
.ab-icon-small-diamond {
  &:before {
    content: $ab-icon-small-diamond; 
  }
}
.ab-icon-tivi {
  &:before {
    content: $ab-icon-tivi; 
  }
}
.ab-icon-smartphone {
  &:before {
    content: $ab-icon-smartphone; 
  }
}
.ab-icon-lights {
  &:before {
    content: $ab-icon-lights; 
  }
}
.ab-icon-microwave {
  &:before {
    content: $ab-icon-microwave; 
  }
}
.ab-icon-wardrobe {
  &:before {
    content: $ab-icon-wardrobe; 
  }
}
.ab-icon-washing-machine {
  &:before {
    content: $ab-icon-washing-machine; 
  }
}
.ab-icon-watch-2 {
  &:before {
    content: $ab-icon-watch-2; 
  }
}
.ab-icon-watch-1 {
  &:before {
    content: $ab-icon-watch-1; 
  }
}
.ab-icon-slider-3 {
  &:before {
    content: $ab-icon-slider-3; 
  }
}
.ab-icon-slider-2 {
  &:before {
    content: $ab-icon-slider-2; 
  }
}
.ab-icon-slider-1 {
  &:before {
    content: $ab-icon-slider-1; 
  }
}
.ab-icon-cart-15 {
  &:before {
    content: $ab-icon-cart-15; 
  }
}
.ab-icon-cart-14 {
  &:before {
    content: $ab-icon-cart-14; 
  }
}
.ab-icon-cart-13 {
  &:before {
    content: $ab-icon-cart-13; 
  }
}
.ab-icon-cart-12 {
  &:before {
    content: $ab-icon-cart-12; 
  }
}
.ab-icon-cart-11 {
  &:before {
    content: $ab-icon-cart-11; 
  }
}
.ab-icon-cart-10 {
  &:before {
    content: $ab-icon-cart-10; 
  }
}
.ab-icon-cart-9 {
  &:before {
    content: $ab-icon-cart-9; 
  }
}
.ab-icon-cart-8 {
  &:before {
    content: $ab-icon-cart-8; 
  }
}
.ab-icon-pause-1 {
  &:before {
    content: $ab-icon-pause-1; 
  }
}
.ab-icon-arrow-left {
  &:before {
    content: $ab-icon-arrow-left; 
  }
}
.ab-icon-arrow-left-1 {
  &:before {
    content: $ab-icon-arrow-left-1; 
  }
}
.ab-icon-arrow-left-2 {
  &:before {
    content: $ab-icon-arrow-left-2; 
  }
}
.ab-icon-arrow-left-3 {
  &:before {
    content: $ab-icon-arrow-left-3; 
  }
}
.ab-icon-arrow-right {
  &:before {
    content: $ab-icon-arrow-right; 
  }
}
.ab-icon-arrow-right-1 {
  &:before {
    content: $ab-icon-arrow-right-1; 
  }
}
.ab-icon-arrow-right-2 {
  &:before {
    content: $ab-icon-arrow-right-2; 
  }
}
.ab-icon-arrow-right-3 {
  &:before {
    content: $ab-icon-arrow-right-3; 
  }
}
.ab-icon-plane-1 {
  &:before {
    content: $ab-icon-plane-1; 
  }
}
.ab-icon-cart-17 {
  &:before {
    content: $ab-icon-cart-17; 
  }
}
.ab-icon-filter-2 {
  &:before {
    content: $ab-icon-filter-2; 
  }
}
.ab-icon-filter-1 {
  &:before {
    content: $ab-icon-filter-1; 
  }
}
.ab-icon-grid-1 {
  &:before {
    content: $ab-icon-grid-1; 
  }
}
.ab-icon-contract {
  &:before {
    content: $ab-icon-contract; 
  }
}
.ab-icon-expand {
  &:before {
    content: $ab-icon-expand; 
  }
}
.ab-icon-cart-7 {
  &:before {
    content: $ab-icon-cart-7; 
  }
}
.ab-icon-quote-1 {
  &:before {
    content: $ab-icon-quote-1; 
  }
}
.ab-icon-arrow-right-5 {
  &:before {
    content: $ab-icon-arrow-right-5; 
  }
}
.ab-icon-arrow-left-5 {
  &:before {
    content: $ab-icon-arrow-left-5; 
  }
}
.ab-icon-refresh-2 {
  &:before {
    content: $ab-icon-refresh-2; 
  }
}
.ab-icon-truck {
  &:before {
    content: $ab-icon-truck; 
  }
}
.ab-icon-wallet {
  &:before {
    content: $ab-icon-wallet; 
  }
}
.ab-icon-electric-1 {
  &:before {
    content: $ab-icon-electric-1; 
  }
}
.ab-icon-electric-2 {
  &:before {
    content: $ab-icon-electric-2; 
  }
}
.ab-icon-lock {
  &:before {
    content: $ab-icon-lock; 
  }
}
.ab-icon-share-1 {
  &:before {
    content: $ab-icon-share-1; 
  }
}
.ab-icon-check-box {
  &:before {
    content: $ab-icon-check-box; 
  }
}
.ab-icon-clock-2 {
  &:before {
    content: $ab-icon-clock-2; 
  }
}
.ab-icon-analytics-laptop {
  &:before {
    content: $ab-icon-analytics-laptop; 
  }
}
.ab-icon-code-design {
  &:before {
    content: $ab-icon-code-design; 
  }
}
.ab-icon-competitive-chart {
  &:before {
    content: $ab-icon-competitive-chart; 
  }
}
.ab-icon-computer-monitor-and-cellphone {
  &:before {
    content: $ab-icon-computer-monitor-and-cellphone; 
  }
}
.ab-icon-consulting-message {
  &:before {
    content: $ab-icon-consulting-message; 
  }
}
.ab-icon-creative-process {
  &:before {
    content: $ab-icon-creative-process; 
  }
}
.ab-icon-customer-reviews {
  &:before {
    content: $ab-icon-customer-reviews; 
  }
}
.ab-icon-data-visualization {
  &:before {
    content: $ab-icon-data-visualization; 
  }
}
.ab-icon-document {
  &:before {
    content: $ab-icon-document; 
  }
}
.ab-icon-download-2 {
  &:before {
    content: $ab-icon-download-2; 
  }
}
.ab-icon-download-1 {
  &:before {
    content: $ab-icon-download-1; 
  }
}
.ab-icon-mail-6 {
  &:before {
    content: $ab-icon-mail-6; 
  }
}
.ab-icon-file-sharing {
  &:before {
    content: $ab-icon-file-sharing; 
  }
}
.ab-icon-finger-touch-screen {
  &:before {
    content: $ab-icon-finger-touch-screen; 
  }
}
.ab-icon-horizontal-tablet-with-pencil {
  &:before {
    content: $ab-icon-horizontal-tablet-with-pencil; 
  }
}
.ab-icon-illustration-tool {
  &:before {
    content: $ab-icon-illustration-tool; 
  }
}
.ab-icon-keyboard-and-hands {
  &:before {
    content: $ab-icon-keyboard-and-hands; 
  }
}
.ab-icon-landscape-image {
  &:before {
    content: $ab-icon-landscape-image; 
  }
}
.ab-icon-layout-squares {
  &:before {
    content: $ab-icon-layout-squares; 
  }
}
.ab-icon-mobile-app-developing {
  &:before {
    content: $ab-icon-mobile-app-developing; 
  }
}
.ab-icon-online-purchase {
  &:before {
    content: $ab-icon-online-purchase; 
  }
}
.ab-icon-online-shopping {
  &:before {
    content: $ab-icon-online-shopping; 
  }
}
.ab-icon-online-video {
  &:before {
    content: $ab-icon-online-video; 
  }
}
.ab-icon-clock-1 {
  &:before {
    content: $ab-icon-clock-1; 
  }
}
.ab-icon-padlock-key {
  &:before {
    content: $ab-icon-padlock-key; 
  }
}
.ab-icon-pc-monitor {
  &:before {
    content: $ab-icon-pc-monitor; 
  }
}
.ab-icon-place-localizer {
  &:before {
    content: $ab-icon-place-localizer; 
  }
}
.ab-icon-search-results {
  &:before {
    content: $ab-icon-search-results; 
  }
}
.ab-icon-search-tool {
  &:before {
    content: $ab-icon-search-tool; 
  }
}
.ab-icon-settings-tools {
  &:before {
    content: $ab-icon-settings-tools; 
  }
}
.ab-icon-sharing-symbol {
  &:before {
    content: $ab-icon-sharing-symbol; 
  }
}
.ab-icon-site-map {
  &:before {
    content: $ab-icon-site-map; 
  }
}
.ab-icon-smartphone-2 {
  &:before {
    content: $ab-icon-smartphone-2; 
  }
}
.ab-icon-tablet-2 {
  &:before {
    content: $ab-icon-tablet-2; 
  }
}
.ab-icon-thin-expand-arrows {
  &:before {
    content: $ab-icon-thin-expand-arrows; 
  }
}
.ab-icon-upload-2 {
  &:before {
    content: $ab-icon-upload-2; 
  }
}
.ab-icon-upload-1 {
  &:before {
    content: $ab-icon-upload-1; 
  }
}
.ab-icon-volume-off {
  &:before {
    content: $ab-icon-volume-off; 
  }
}
.ab-icon-volume-on {
  &:before {
    content: $ab-icon-volume-on; 
  }
}
.ab-icon-news-list {
  &:before {
    content: $ab-icon-news-list; 
  }
}
.ab-icon-desktop {
  &:before {
    content: $ab-icon-desktop; 
  }
}
.ab-icon-news-grid {
  &:before {
    content: $ab-icon-news-grid; 
  }
}
.ab-icon-setting {
  &:before {
    content: $ab-icon-setting; 
  }
}
.ab-icon-web-home {
  &:before {
    content: $ab-icon-web-home; 
  }
}
.ab-icon-web-link {
  &:before {
    content: $ab-icon-web-link; 
  }
}
.ab-icon-web-links {
  &:before {
    content: $ab-icon-web-links; 
  }
}
.ab-icon-website-protection {
  &:before {
    content: $ab-icon-website-protection; 
  }
}
.ab-icon-team {
  &:before {
    content: $ab-icon-team; 
  }
}
.ab-icon-zoom-in {
  &:before {
    content: $ab-icon-zoom-in; 
  }
}
.ab-icon-zoom-out {
  &:before {
    content: $ab-icon-zoom-out; 
  }
}
.ab-icon-arrow-1 {
  &:before {
    content: $ab-icon-arrow-1; 
  }
}
.ab-icon-arrow-bold {
  &:before {
    content: $ab-icon-arrow-bold; 
  }
}
.ab-icon-arrow-light {
  &:before {
    content: $ab-icon-arrow-light; 
  }
}
.ab-icon-arrow-regular {
  &:before {
    content: $ab-icon-arrow-regular; 
  }
}
.ab-icon-cart-1 {
  &:before {
    content: $ab-icon-cart-1; 
  }
}
.ab-icon-cart-2 {
  &:before {
    content: $ab-icon-cart-2; 
  }
}
.ab-icon-cart-3 {
  &:before {
    content: $ab-icon-cart-3; 
  }
}
.ab-icon-cart-4 {
  &:before {
    content: $ab-icon-cart-4; 
  }
}
.ab-icon-cart-5 {
  &:before {
    content: $ab-icon-cart-5; 
  }
}
.ab-icon-cart-6 {
  &:before {
    content: $ab-icon-cart-6; 
  }
}
.ab-icon-chart {
  &:before {
    content: $ab-icon-chart; 
  }
}
.ab-icon-close {
  &:before {
    content: $ab-icon-close; 
  }
}
.ab-icon-compare-1 {
  &:before {
    content: $ab-icon-compare-1; 
  }
}
.ab-icon-compare-2 {
  &:before {
    content: $ab-icon-compare-2; 
  }
}
.ab-icon-compare-3 {
  &:before {
    content: $ab-icon-compare-3; 
  }
}
.ab-icon-compare-4 {
  &:before {
    content: $ab-icon-compare-4; 
  }
}
.ab-icon-compare-5 {
  &:before {
    content: $ab-icon-compare-5; 
  }
}
.ab-icon-compare-6 {
  &:before {
    content: $ab-icon-compare-6; 
  }
}
.ab-icon-compare-7 {
  &:before {
    content: $ab-icon-compare-7; 
  }
}
.ab-icon-down {
  &:before {
    content: $ab-icon-down; 
  }
}
.ab-icon-grid {
  &:before {
    content: $ab-icon-grid; 
  }
}
.ab-icon-hand {
  &:before {
    content: $ab-icon-hand; 
  }
}
.ab-icon-layout-1 {
  &:before {
    content: $ab-icon-layout-1; 
  }
}
.ab-icon-layout {
  &:before {
    content: $ab-icon-layout; 
  }
}
.ab-icon-light {
  &:before {
    content: $ab-icon-light; 
  }
}
.ab-icon-play-1 {
  &:before {
    content: $ab-icon-play-1; 
  }
}
.ab-icon-list {
  &:before {
    content: $ab-icon-list; 
  }
}
.ab-icon-mail-1 {
  &:before {
    content: $ab-icon-mail-1; 
  }
}
.ab-icon-mail-2 {
  &:before {
    content: $ab-icon-mail-2; 
  }
}
.ab-icon-mail-3 {
  &:before {
    content: $ab-icon-mail-3; 
  }
}
.ab-icon-mail-4 {
  &:before {
    content: $ab-icon-mail-4; 
  }
}
.ab-icon-mail-5 {
  &:before {
    content: $ab-icon-mail-5; 
  }
}
.ab-icon-map-1 {
  &:before {
    content: $ab-icon-map-1; 
  }
}
.ab-icon-map-2 {
  &:before {
    content: $ab-icon-map-2; 
  }
}
.ab-icon-map-3 {
  &:before {
    content: $ab-icon-map-3; 
  }
}
.ab-icon-map-4 {
  &:before {
    content: $ab-icon-map-4; 
  }
}
.ab-icon-map-5 {
  &:before {
    content: $ab-icon-map-5; 
  }
}
.ab-icon-menu-1 {
  &:before {
    content: $ab-icon-menu-1; 
  }
}
.ab-icon-menu-2 {
  &:before {
    content: $ab-icon-menu-2; 
  }
}
.ab-icon-grid-3 {
  &:before {
    content: $ab-icon-grid-3; 
  }
}
.ab-icon-grid-4 {
  &:before {
    content: $ab-icon-grid-4; 
  }
}
.ab-icon-menu-3 {
  &:before {
    content: $ab-icon-menu-3; 
  }
}
.ab-icon-grid-2 {
  &:before {
    content: $ab-icon-grid-2; 
  }
}
.ab-icon-minus {
  &:before {
    content: $ab-icon-minus; 
  }
}
.ab-icon-next {
  &:before {
    content: $ab-icon-next; 
  }
}
.ab-icon-phone-1 {
  &:before {
    content: $ab-icon-phone-1; 
  }
}
.ab-icon-phone-2 {
  &:before {
    content: $ab-icon-phone-2; 
  }
}
.ab-icon-phone-3 {
  &:before {
    content: $ab-icon-phone-3; 
  }
}
.ab-icon-phone-4 {
  &:before {
    content: $ab-icon-phone-4; 
  }
}
.ab-icon-phone-5 {
  &:before {
    content: $ab-icon-phone-5; 
  }
}
.ab-icon-phone-6 {
  &:before {
    content: $ab-icon-phone-6; 
  }
}
.ab-icon-picture {
  &:before {
    content: $ab-icon-picture; 
  }
}
.ab-icon-pin {
  &:before {
    content: $ab-icon-pin; 
  }
}
.ab-icon-plus {
  &:before {
    content: $ab-icon-plus; 
  }
}
.ab-icon-prev {
  &:before {
    content: $ab-icon-prev; 
  }
}
.ab-icon-eye-4 {
  &:before {
    content: $ab-icon-eye-4; 
  }
}
.ab-icon-eye-3 {
  &:before {
    content: $ab-icon-eye-3; 
  }
}
.ab-icon-eye-2 {
  &:before {
    content: $ab-icon-eye-2; 
  }
}
.ab-icon-eye-1 {
  &:before {
    content: $ab-icon-eye-1; 
  }
}
.ab-icon-refresh-1 {
  &:before {
    content: $ab-icon-refresh-1; 
  }
}
.ab-icon-youtube-2 {
  &:before {
    content: $ab-icon-youtube-2; 
  }
}
.ab-icon-search-1 {
  &:before {
    content: $ab-icon-search-1; 
  }
}
.ab-icon-search-2 {
  &:before {
    content: $ab-icon-search-2; 
  }
}
.ab-icon-search-3 {
  &:before {
    content: $ab-icon-search-3; 
  }
}
.ab-icon-search-4 {
  &:before {
    content: $ab-icon-search-4; 
  }
}
.ab-icon-search-5 {
  &:before {
    content: $ab-icon-search-5; 
  }
}
.ab-icon-support {
  &:before {
    content: $ab-icon-support; 
  }
}
.ab-icon-tablet-1 {
  &:before {
    content: $ab-icon-tablet-1; 
  }
}
.ab-icon-play-2 {
  &:before {
    content: $ab-icon-play-2; 
  }
}
.ab-icon-up {
  &:before {
    content: $ab-icon-up; 
  }
}
.ab-icon-user-1 {
  &:before {
    content: $ab-icon-user-1; 
  }
}
.ab-icon-user-2 {
  &:before {
    content: $ab-icon-user-2; 
  }
}
.ab-icon-user-3 {
  &:before {
    content: $ab-icon-user-3; 
  }
}
.ab-icon-user-4 {
  &:before {
    content: $ab-icon-user-4; 
  }
}
.ab-icon-user-5 {
  &:before {
    content: $ab-icon-user-5; 
  }
}
.ab-icon-user {
  &:before {
    content: $ab-icon-user; 
  }
}
.ab-icon-vector1 {
  &:before {
    content: $ab-icon-vector1; 
  }
}
.ab-icon-wishlist1 {
  &:before {
    content: $ab-icon-wishlist1; 
  }
}

