$icomoon-font-family: "ab-fonts" !default;
$icomoon-font-path: "fonts" !default;

$ab-icon-law-1: "\c327";
$ab-icon-law: "\c326";
$ab-icon-image-box: "\c325";
$ab-icon-fire: "\c324";
$ab-icon-icon-box: "\c323";
$ab-icon-editor: "\c322";
$ab-icon-column: "\c321";
$ab-icon-grid-6: "\c320";
$ab-icon-button: "\c319";
$ab-icon-quote-3: "\c318";
$ab-icon-layer: "\c317";
$ab-icon-carousel: "\c316";
$ab-icon-banner: "\c315";
$ab-icon-heading: "\c314";
$ab-icon-click: "\c313";
$ab-icon-cookie: "\c312";
$ab-icon-tab: "\c311";
$ab-icon-slider: "\c310";
$ab-icon-recent-blog-path1: "\c300";
$ab-icon-recent-blog-path2: "\c301";
$ab-icon-recent-blog-path3: "\c302";
$ab-icon-recent-blog-path4: "\c303";
$ab-icon-recent-blog-path5: "\c304";
$ab-icon-recent-blog-path6: "\c305";
$ab-icon-recent-blog-path7: "\c306";
$ab-icon-blog: "\c299";
$ab-icon-wallet-1: "\c298";
$ab-icon-handshake: "\c297";
$ab-icon-undo-1: "\c296";
$ab-icon-plane-3: "\c295";
$ab-icon-plane-2: "\c294";
$ab-icon-clock-4: "\c293";
$ab-icon-play-4: "\c292";
$ab-icon-play-3: "\c291";
$ab-icon-face-1: "\c290";
$ab-icon-comment-1: "\c289";
$ab-icon-comment-2: "\c288";
$ab-icon-comment-3: "\c287";
$ab-icon-comment-4: "\c286";
$ab-icon-360-2: "\c284";
$ab-icon-360-1: "\c283";
$ab-icon-heart-6: "\c282";
$ab-icon-heart-5: "\c281";
$ab-icon-filter-3: "\c285";
$ab-icon-refresh-5: "\c280";
$ab-icon-heart-4: "\c279";
$ab-icon-heart-3: "\c278";
$ab-icon-ruler: "\c277";
$ab-icon-help: "\c276";
$ab-icon-hand-up: "\c275";
$ab-icon-hand-down: "\c274";
$ab-icon-arrow-up: "\c273";
$ab-icon-arrow-down: "\c272";
$ab-icon-arrow-left-4: "\c271";
$ab-icon-arrow-right-4: "\c270";
$ab-icon-refresh-4: "\c269";
$ab-icon-refresh-3: "\c268";
$ab-icon-quote-2: "\c267";
$ab-icon-pause: "\c266";
$ab-icon-check: "\c265";
$ab-icon-caret-down: "\c264";
$ab-icon-caret-left: "\c263";
$ab-icon-caret-right: "\c262";
$ab-icon-caret-up: "\c261";
$ab-icon-caret-square-dow: "\c260";
$ab-icon-caret-square-left: "\c259";
$ab-icon-caret-square-right: "\c258";
$ab-icon-caret-square-up: "\c257";
$ab-icon-check-circle-o: "\c256";
$ab-icon-check-circle: "\c255";
$ab-icon-check-square-o: "\c254";
$ab-icon-check-square: "\c253";
$ab-icon-circle-o: "\c252";
$ab-icon-circle: "\c251";
$ab-icon-dribbble: "\c250";
$ab-icon-flickr: "\c249";
$ab-icon-foursquare: "\c248";
$ab-icon-github: "\c247";
$ab-icon-linkedin: "\c246";
$ab-icon-rss: "\c245";
$ab-icon-square-o: "\c244";
$ab-icon-square: "\c243";
$ab-icon-star-o: "\c242";
$ab-icon-star: "\c241";
$ab-icon-tumblr: "\c240";
$ab-icon-xing: "\c239";
$ab-icon-twitter: "\c238";
$ab-icon-cart-16: "\c237";
$ab-icon-heart-2: "\c236";
$ab-icon-eye-5: "\c235";
$ab-icon-facebook: "\c234";
$ab-icon-googleplus: "\c233";
$ab-icon-instagram: "\c232";
$ab-icon-pinterest: "\c231";
$ab-icon-skype: "\c230";
$ab-icon-vimeo: "\c229";
$ab-icon-youtube-1: "\c228";
$ab-icon-award-1: "\c227";
$ab-icon-clock-3: "\c226";
$ab-icon-three-dots: "\c225";
$ab-icon-share-2: "\c224";
$ab-icon-building: "\c223";
$ab-icon-faucet: "\c222";
$ab-icon-flower: "\c221";
$ab-icon-house-1: "\c220";
$ab-icon-house: "\c219";
$ab-icon-pines: "\c218";
$ab-icon-plant: "\c217";
$ab-icon-sprout-1: "\c216";
$ab-icon-sprout: "\c215";
$ab-icon-trees: "\c214";
$ab-icon-close-1: "\c213";
$ab-icon-list-2: "\c212";
$ab-icon-grid-5: "\c211";
$ab-icon-menu-6: "\c210";
$ab-icon-three-dots-o: "\c209";
$ab-icon-list-1: "\c208";
$ab-icon-menu-5: "\c207";
$ab-icon-menu-4: "\c206";
$ab-icon-heart-1: "\c205";
$ab-icon-user-6: "\c204";
$ab-icon-attachment: "\c203";
$ab-icon-cart-18: "\c202";
$ab-icon-ball: "\c201";
$ab-icon-battery: "\c200";
$ab-icon-briefcase: "\c199";
$ab-icon-car: "\c198";
$ab-icon-cpu-2: "\c197";
$ab-icon-cpu-1: "\c196";
$ab-icon-dress-woman: "\c195";
$ab-icon-drill-tool: "\c194";
$ab-icon-feeding-bottle: "\c193";
$ab-icon-fruit: "\c192";
$ab-icon-furniture-2: "\c191";
$ab-icon-furniture-1: "\c190";
$ab-icon-shoes-woman-2: "\c189";
$ab-icon-shoes-woman-1: "\c188";
$ab-icon-horse: "\c187";
$ab-icon-laptop: "\c186";
$ab-icon-lipstick: "\c185";
$ab-icon-iron: "\c184";
$ab-icon-perfume: "\c183";
$ab-icon-baby-toy-2: "\c182";
$ab-icon-baby-toy-1: "\c181";
$ab-icon-paint-roller: "\c180";
$ab-icon-shirt: "\c179";
$ab-icon-shoe-man-2: "\c178";
$ab-icon-small-diamond: "\c177";
$ab-icon-tivi: "\c176";
$ab-icon-smartphone: "\c175";
$ab-icon-lights: "\c174";
$ab-icon-microwave: "\c173";
$ab-icon-wardrobe: "\c172";
$ab-icon-washing-machine: "\c171";
$ab-icon-watch-2: "\c170";
$ab-icon-watch-1: "\c169";
$ab-icon-slider-3: "\c168";
$ab-icon-slider-2: "\c167";
$ab-icon-slider-1: "\c166";
$ab-icon-cart-15: "\c165";
$ab-icon-cart-14: "\c164";
$ab-icon-cart-13: "\c163";
$ab-icon-cart-12: "\c162";
$ab-icon-cart-11: "\c161";
$ab-icon-cart-10: "\c160";
$ab-icon-cart-9: "\c159";
$ab-icon-cart-8: "\c158";
$ab-icon-pause-1: "\c157";
$ab-icon-arrow-left: "\c156";
$ab-icon-arrow-left-1: "\c155";
$ab-icon-arrow-left-2: "\c154";
$ab-icon-arrow-left-3: "\c153";
$ab-icon-arrow-right: "\c152";
$ab-icon-arrow-right-1: "\c151";
$ab-icon-arrow-right-2: "\c150";
$ab-icon-arrow-right-3: "\c149";
$ab-icon-plane-1: "\c148";
$ab-icon-cart-17: "\c147";
$ab-icon-filter-2: "\c146";
$ab-icon-filter-1: "\c145";
$ab-icon-grid-1: "\c144";
$ab-icon-contract: "\c143";
$ab-icon-expand: "\c142";
$ab-icon-cart-7: "\c141";
$ab-icon-quote-1: "\c140";
$ab-icon-arrow-right-5: "\c139";
$ab-icon-arrow-left-5: "\c138";
$ab-icon-refresh-2: "\c137";
$ab-icon-truck: "\c136";
$ab-icon-wallet: "\c135";
$ab-icon-electric-1: "\c134";
$ab-icon-electric-2: "\c133";
$ab-icon-lock: "\c132";
$ab-icon-share-1: "\c131";
$ab-icon-check-box: "\c130";
$ab-icon-clock-2: "\c129";
$ab-icon-analytics-laptop: "\c128";
$ab-icon-code-design: "\c127";
$ab-icon-competitive-chart: "\c126";
$ab-icon-computer-monitor-and-cellphone: "\c125";
$ab-icon-consulting-message: "\c124";
$ab-icon-creative-process: "\c123";
$ab-icon-customer-reviews: "\c122";
$ab-icon-data-visualization: "\c121";
$ab-icon-document: "\c120";
$ab-icon-download-2: "\c119";
$ab-icon-download-1: "\c118";
$ab-icon-mail-6: "\c117";
$ab-icon-file-sharing: "\c116";
$ab-icon-finger-touch-screen: "\c115";
$ab-icon-horizontal-tablet-with-pencil: "\c114";
$ab-icon-illustration-tool: "\c113";
$ab-icon-keyboard-and-hands: "\c112";
$ab-icon-landscape-image: "\c111";
$ab-icon-layout-squares: "\c110";
$ab-icon-mobile-app-developing: "\c109";
$ab-icon-online-purchase: "\c108";
$ab-icon-online-shopping: "\c107";
$ab-icon-online-video: "\c106";
$ab-icon-clock-1: "\c105";
$ab-icon-padlock-key: "\c104";
$ab-icon-pc-monitor: "\c103";
$ab-icon-place-localizer: "\c102";
$ab-icon-search-results: "\c101";
$ab-icon-search-tool: "\c100";
$ab-icon-settings-tools: "\c099";
$ab-icon-sharing-symbol: "\c098";
$ab-icon-site-map: "\c097";
$ab-icon-smartphone-2: "\c096";
$ab-icon-tablet-2: "\c095";
$ab-icon-thin-expand-arrows: "\c094";
$ab-icon-upload-2: "\c093";
$ab-icon-upload-1: "\c092";
$ab-icon-volume-off: "\c091";
$ab-icon-volume-on: "\c090";
$ab-icon-news-list: "\c089";
$ab-icon-desktop: "\c088";
$ab-icon-news-grid: "\c087";
$ab-icon-setting: "\c086";
$ab-icon-web-home: "\c085";
$ab-icon-web-link: "\c084";
$ab-icon-web-links: "\c083";
$ab-icon-website-protection: "\c082";
$ab-icon-team: "\c081";
$ab-icon-zoom-in: "\c080";
$ab-icon-zoom-out: "\c079";
$ab-icon-arrow-1: "\c078";
$ab-icon-arrow-bold: "\c077";
$ab-icon-arrow-light: "\c076";
$ab-icon-arrow-regular: "\c075";
$ab-icon-cart-1: "\c074";
$ab-icon-cart-2: "\c073";
$ab-icon-cart-3: "\c072";
$ab-icon-cart-4: "\c071";
$ab-icon-cart-5: "\c070";
$ab-icon-cart-6: "\c069";
$ab-icon-chart: "\c068";
$ab-icon-close: "\c067";
$ab-icon-compare-1: "\c066";
$ab-icon-compare-2: "\c065";
$ab-icon-compare-3: "\c064";
$ab-icon-compare-4: "\c063";
$ab-icon-compare-5: "\c062";
$ab-icon-compare-6: "\c061";
$ab-icon-compare-7: "\c060";
$ab-icon-down: "\c059";
$ab-icon-grid: "\c058";
$ab-icon-hand: "\c057";
$ab-icon-layout-1: "\c056";
$ab-icon-layout: "\c055";
$ab-icon-light: "\c054";
$ab-icon-play-1: "\c053";
$ab-icon-list: "\c052";
$ab-icon-mail-1: "\c051";
$ab-icon-mail-2: "\c050";
$ab-icon-mail-3: "\c049";
$ab-icon-mail-4: "\c048";
$ab-icon-mail-5: "\c047";
$ab-icon-map-1: "\c046";
$ab-icon-map-2: "\c045";
$ab-icon-map-3: "\c044";
$ab-icon-map-4: "\c043";
$ab-icon-map-5: "\c042";
$ab-icon-menu-1: "\c041";
$ab-icon-menu-2: "\c040";
$ab-icon-grid-3: "\c039";
$ab-icon-grid-4: "\c038";
$ab-icon-menu-3: "\c037";
$ab-icon-grid-2: "\c036";
$ab-icon-minus: "\c035";
$ab-icon-next: "\c034";
$ab-icon-phone-1: "\c033";
$ab-icon-phone-2: "\c032";
$ab-icon-phone-3: "\c031";
$ab-icon-phone-4: "\c030";
$ab-icon-phone-5: "\c029";
$ab-icon-phone-6: "\c028";
$ab-icon-picture: "\c027";
$ab-icon-pin: "\c026";
$ab-icon-plus: "\c025";
$ab-icon-prev: "\c024";
$ab-icon-eye-4: "\c023";
$ab-icon-eye-3: "\c022";
$ab-icon-eye-2: "\c021";
$ab-icon-eye-1: "\c020";
$ab-icon-refresh-1: "\c019";
$ab-icon-youtube-2: "\c018";
$ab-icon-search-1: "\c017";
$ab-icon-search-2: "\c016";
$ab-icon-search-3: "\c015";
$ab-icon-search-4: "\c014";
$ab-icon-search-5: "\c013";
$ab-icon-support: "\c012";
$ab-icon-tablet-1: "\c011";
$ab-icon-play-2: "\c010";
$ab-icon-up: "\c009";
$ab-icon-user-1: "\c008";
$ab-icon-user-2: "\c007";
$ab-icon-user-3: "\c006";
$ab-icon-user-4: "\c005";
$ab-icon-user-5: "\c004";
$ab-icon-user: "\c003";
$ab-icon-vector1: "\c002";
$ab-icon-wishlist1: "\c001";

