.job-manager-jobs {
	td {
		padding: 20px 10px 20px 0;
	}
}

.job-manager-jobs td.job_title {
	font-size: 18px;
}
@media all and (max-width:767px){
	.job-manager-jobs {
		white-space: nowrap;
		td {
			padding: 20px 10px 20px 0;
		}
	}

	div#job-manager-job-dashboard {
		display: block;
		width: 100%;
		overflow-x: auto;
	}
}

.jobify-skin-1{
	.job-manager-jobs{
		.job_title a{
			color: #404668;
		}
		.job_title a:hover{
			color: #7e3af2;
		}
	}	
}
