.application_details.modal {
	hr {
		display: none;
	}
}

.application_button,
.application_button_link {
	@extend .button--type-action;
}

.job-meta.col-md-2 .application_button_link,
.job-meta.col-md-2 .application_button {
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

.wp-job-manager-apply-email:not(.wp-job-manager-contact-listing):not(.wp-job-manager-applications) .application_details {
	@extend .modal-content;
	padding: 30px;

	p:last-of-type {
		margin-bottom: 0;
	}

	p:only-of-type {
		padding: 0;
	}
}

// for jobify elementor detail
.job_listing-template.jobify-skin-1{
	.job-detail-about-role{
		margin-bottom: 0px;
	}
	.job-detail-job-type{
		.elementor-widget-wp-widget-jobify_widget_job_type{
			.job-type{
				background-color: transparent;
				padding-left: 0px;
			    color: #5d6598;
			    font-size: 16px;
			    font-weight: 400;
			    float: left;
			    text-transform: capitalize;
			    font-family: 'Varela Round';
			}
		}
	}
	.job-location-title{
		.google_map_link{
			    color: #5d6598;
		}
		.google_map_link:hover{
			color: #7e3af2;
		}
	}
	.jobify-skin-1-company-logo{
		.company_logo{
			border-radius: 9999px;
		}
	}
}		