.widget--home-job-spotlights {

}

.job-spotlights {
	@extend .content-grid;
	text-align: center;
}
.jobify-skin-1{
	.job-spotlight-main{
		h5{
			text-align: center;
    		font-size: 35px;
		}
		.job-spotlight__title{
			color: #404668;
		}
		.job-spotlight__title:hover{
			color: #7e3af2;
		}
	}
}	